body {
    margin-top: 0px;
    position: relative;
    width: 1000px;
    height: 1024px;
    background: #1B2432;
    overflow-x: hidden;
    overflow-y: scroll;
}

nav {
    position: absolute;
    padding: 2px;
    width: 1800px;
    height: 79px;
    left: -296px;
    top: 0px;
    background-color: #121420;
}

.nav-forums-text a {
    position: absolute;
    width: 125px;
    height: 48px;
    left: 368px;
    top: 19px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 48px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-forums-text a:hover {
    position: absolute;
    width: 125px;
    height: 48px;
    left: 368px;
    top: 19px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 43px;
    color: #c0c0c0;
    text-decoration: overline;
    transition: .25s;
}

.nav-news-text a {
    position: absolute;
    width: 90px;
    height: 48px;
    left: 1628px;
    top: 19px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 48px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-news-text a:hover {
    position: absolute;
    width: 90px;
    height: 48px;
    left: 1628px;
    top: 19px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 43px;
    color: #c0c0c0;
    text-decoration: overline;
    transition: .25s;
}

.button {
    position: absolute;
    width: 348px;
    height: 118px;
    left: 880px;
    top: 23px;
    line-height: 30px;
    background: #FFC700;
    border-radius: 31px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: #FFFFFF;
    outline: none;
}

.btn-image {
    position: center;
    width: 348px;
    height: 122px;
    left: 546px;
    top: 19px;
}

.vapor-img {
    position: absolute;
    width: 330px;
    height: 332px;
    left: 160px;
    top: 191px;
}

.players-text {
    position: absolute;
    width: 4000px;
    height: 108px;
    left: 900px;
    top: 208px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    color: #FFFFFF;
}

.button2 {
    position: absolute;
    width: 447px;
    height: 126px;
    left: 931px;
    top: 400px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    background: #00E1DF;
    border-radius: 25px;
    outline: none;
}

.play-btn textarea {
    resize: none;
    background-color: #00E1DF;
    border: none;
}

hr {
    position: absolute;
    width: 1414px;
    height: 0px;
    left: 14px;
    top: 700px;
    border: 10px solid #2C2B3C;
}

.side-text h3 {
    position: absolute;
    width: 618px;
    height: 95px;
    left: 54px;
    top: 689px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 95px;
    color: #FFFFFF;
}

.side-text-2 h5 {
    position: absolute;
    width: 524px;
    height: 48px;
    left: 187px;
    top: 784px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    color: #B76D68;
}

.side-button button {
    position: absolute;
    width: 433px;
    height: 107px;
    left: 894px;
    top: 770px;
    background: #FF3747;
    outline: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #FFFFFF;
    border-radius: 15px;
}